{% extends "base.html" %}

{% block content %}
{% load static %}
<form action="" enctype="multipart/form-user" method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Welcome, {{ user.username }}!</h2>

            <!-- User Information -->
            <div class="row">
                <div class="col-md-4">
                    {% if images %}
                    <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle" alt="Profile Picture">
                    {% else %}
                    <img src="{% static 'images/profile.jpeg' %}" class="img-fluid rounded-circle" alt="Profile Picture">
                    <input type="file"value="{{user.image.url}}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h4>User Details</h4>
                    <p><strong>First Name:</strong><input type="text" value="{{user.first_name}}" ></p>
                    <p><strong>Last Name:</strong><input type="text" value="{{user.last_name}}"></p>
                    <p><strong>Username:</strong><input type="text" value="{{user.username}}"></p>
                    <p><strong>Bio:</strong><input type="text" value="{{user.bio}}" ></p>
                    <p><strong>Email:</strong><input type="text" value="{{user.email}}" ></p>
                    <button type="submit">Save</button>
                    <!-- <a href="{% url 'log_out' %}" class="btn btn-danger">Logout</a> -->
                </div>
            
            </div>
        </div>
    </div>

</form>  

{% endblock content %}