{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/shop.css" %}">
       {% for i in abc %}
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="{{i.image.url}}" alt="cloth image"> 
                <div class="des">
                <span>{{i.brand_name}}</span>
                <h5>{{i.title}}</h5>
                <h4>Rs.{{i.price}}</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        </div>
       </section>
       {% endfor %}
{% endblock content %}