{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/contact.css" %}">
<div class="contactform">
    <form class="form" method="POST" action="{% url 'contact' %}"  id="ContactForm">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages  %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %}
  
        {% endif %}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.address.label_tag }} {{ form.address }}
        
        <!-- Phone Number Field -->
        {{ form.phonenumber.label_tag }}
        {{ form.phonenumber }}
        <span id="error_msg" style="color: red; display: none;">
            Invalid phone number.
        </span>
        {{ form.message.label_tag }} {{ form.message }}
        <button type="submit">Submit</button>
    </form>
    </div>
{% endblock content %}
