{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "css/shop.css" %}">
<section id="product1" class="section-p1">
<div class="category ">
            {% for i in cate  %}
            <ul  type="none">
                <a href="?Categ={{i.id}}" ><li class=" 
                    {% if request.GET.Categ == i.id|stringformat:'s' %}
                    active-tab
                   {% endif %}" >{{i.catitle}}</li></a>
            </ul>
            {% endfor %}
        </div>
        </section>
       {% for i in data1 %}
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="{{i.image.url}}" alt="cloth image"> 
                <div class="des">
                <span>{{i.brand_name}}</span>
                <h5>{{i.title}}</h5>
                <h4>Rs.{{i.price}}</h4>
                </div>
                <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        </div>
       </section>
       {% endfor %}
{% endblock content %}