*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h3{
    font-size: 20px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}

h5{
    font-weight: 700;
     font-size: 13px;
 }

h6{
   font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: rgb(88, 88, 88);
}

.section-p1{
    padding : 40px 80px;
}

.section-m1{
    margin : 40px 0;
}

button.normal {
    font-size: 16px;
    font-weight: 100;
    padding: 15px 30px;
    color: black;
    background-color: white ;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgb(85, 64, 64);
    background-color: transparent ;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

.body{
    width: 100%;
}

/* header start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    background-color: rgba(187, 161, 111, 0.784);
    box-shadow: 0 5px 15px rgb(111, 104, 66);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;

}

.sear{
    border: solid 2px black;
    height: 27px;
}


.sears{
    border: solid 2px black;
    height: 27px;
    /* width: 100%; */
}
#navbar li a:hover,
#navbar li a.active {
    color: rgb(251, 242, 195);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 50%;
    height:1px;
    background-color: rgb(224, 214, 137);
    position: absolute;
    bottom : -5px;
    left: 15px;
}

/* home page */

#hero{
    background-image: url("../images/chinesemodel.jpg");
    height:90vh;
    width: 100%;
    background-size:cover;
    background-position: top 15% right 0px;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
   color: rgb(182, 160, 78);
}

#hero button{
    background-image: url("./image/background-of-kraft-paper-or-cardboard-texture-vector-47419683.jpg");
    background-color: transparent;
    color: rgb(85, 77, 67);
    border: 0;
    padding: 10px 70px 10px 55px;
    background-repeat: no-repeat ;
    box-shadow: 0 5px 15px rgb(111, 104, 66);
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

#hero button:hover{
    /* background-color: rgb(115, 144, 163); */
    color: aliceblue;

}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width:180px;
    text-align: center;
    padding: 35px 25px;
    /* margin:15px 0; */
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
/* 
#feature .fe-box:hover{
    box-shadow: 0 5px 5px rgb(95, 92, 72);
} */

#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
}

#product1 .pro{
    width : 30%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(98, 98, 98);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(60, 58, 41);
}

#product1 .pro img{
    width: 100%;
    border-radius: 5px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: rgb(135, 104, 34);
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgba(84, 42, 19, 0.98);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* border-radius: 50px;
    background-color: rgb(236, 229, 217); */
    color: rgb(26, 23, 19);
    /* border: 1px solid rgb(233, 226, 226);  */
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.btt{
    color: aqua;
    background-color: rgb(216, 163, 163);
}


