.contactform{
    display: flex;
    justify-content: center
}
.form {
    /* position: relative; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 500px;
    background-color: white;
    padding: 40px;
    margin: 40px;
    border: 5px solid wheat;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 20px rgba(36, 34, 34, 0.555);
  }
  
  .form .title {
    color: rgb(168, 162, 125);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(198, 170, 69);
    color: #fff;
    cursor: pointer;
  }
      